<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />

	<if condition='isDefined("KUBERNETES_SERVICE_HOST")'>
		<then>
			<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
				<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
			</appender>
		</then>
		<else>
			<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
				<encoder>
					<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} context:[%X] - %msg%n</pattern>
				</encoder>
			</appender>
		</else>
	</if>

	<!-- Spring Framework -->
	<logger name="org.springframework" level="INFO" />

	<!-- PiA -->
	<logger name="com.pia" level="TRACE" />

	<!-- Camunda -->
	<logger name="org.camunda" level="INFO" />
	<logger name="cockpit" level="INFO" />
	<logger name="admin" level="INFO" />

	<!-- INFO: disable request / response logging of Camunda Server
	     DEBUG: Enable (only for testing and/or troubleshooting purposes) -->
	<logger name="org.glassfish.jersey.logging.LoggingFeature" level="INFO" />

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>
